@import "../../assets/styles/variables.scss";

.app-info {
    padding: 25px;
    color: $color-white;
    background-color: $color-main;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba($color-black, 0.15);
}
