// Colors
$color-main: #3d5a80;

$color-icon-star: #ffd700;
$color-icon-cookie: #e09f3e;
$color-icon-trash: #e5383b;

$color-white: #fff;
$color-black: #000;

// Fonts
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$font-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
