@import "../../assets/styles/variables.scss";

.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: $color-main;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba($color-black, 0.15);
    color: $color-white;
}

.add-form {
    margin-top: 20px;

    input {
        width: 350px;
        margin-right: 20px;
    }
}
